# AWS Lambda environment variables
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
# Stripe
STRIPE_SECRET_KEY=
# Tables
TABLE_PRODUCTS=products-dev
TABLE_USERS=users-dev
TABLE_PAYMENT_METHODS=payment-methods-dev
TABLE_PROMOS=promos-dev
#node
NODE_ENV=dev